.root {
  width: 1em;
  height: 1em;
  flex: none;
  vertical-align: -0.12em;
}

.stroke {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.1;
  stroke-linecap: round;
  stroke-linejoin: round;
}
